
<div class="dashboard_contaner">
<div class="header_container dashboard_header ">
    <div class="dashboard_header">
        <h1>Welcome <%= current_user.username %></h1>
    </div>
</div>
        <% Tweet.newest_first.all.each do |tweet| %>
            <%= render(TweetCard::NewComponent.new(tweet: tweet)) %>
        <% end %>
</div>