<%= button_to link, method: :post, remote: true do %>
            <div class="tweet_action">
                <%= image_tag image, size: "20x20" %>
                <p><%= text %></p>
            </div>
<% end %>