
<h1>Signed out</h1>
<div class="">
<%= render(Button::NewComponent.new(text: "Sign up", url: new_user_registration_path)) %>
<%= render(Button::NewComponent.new(text: "Login", url: new_user_session_path, variant: "info" )) %>
</div>