<div class="tweet_form">
    <%= simple_form_for :tweet, local: true, url: tweet_index_path  do |f| %>
        <%= f.input :body, label: "Enter your tweet" %>
        <%= f.button :submit, "Tweet", class: "btn-primary" %>
    <% end %>
</div>
