.dashboard_contaner {
  .dashboard_header {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 0 10px;
  }

  .dashboard_underline {
    border-bottom: 1px solid lightgray;
  }
}
