.tweet_form {
  padding: 10px;
  //   border-bottom: 1px solid lightgray;
  //   border-top: 1px solid lightgray;
}

.tweet_card {
  border: 1px solid lightgray;
  padding: 20px;
  cursor: pointer;
  display: flex;
  gap: 1rem;

  .header {
    display: flex;
    gap: 10px;

    .display_name {
      font-weight: bold;
    }

    .username {
      text-transform: capitalize;
      color: rgb(93, 93, 93);
    }
  }
}

.tweet_btn {
  display: flex;
  justify-content: flex-end;
}

.tweet_input {
  border: none !important;
  padding: 0;
  font-size: 20px;

  &:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }
}
